/* stylesheet by www.anupammondal.in */

span.i-16 a svg {
    width: 16px;
    height: 16px;
}

span.i-24 a svg {
    width: 24px;
    height: 24px;
}

span.i-32 a svg {
    width: 32px;
    height: 32px;
}

.txt-center {
    text-align: center;
}

#social-icon-links span a {
    color: blue;
    text-decoration: none;
}

#social-icon-links span a svg {
    margin: 5px;
}